<html>
  <head>
    <title>{{ title }} - Platform Management Support</title>
  </head>
  <body>
          <table bgcolor="green">
                  <tr>
                    <th>Dist1</th>
                    <th>Dist2</th>
                  </tr>
                  <tr>
                    <td>{{  dist1_current }}</td>
                    <td>{{  dist2_current }}</td>
                  </tr>
                  <tr>
                    <th>Sync1</th>
                    <th>Sync2</th>
                  </tr>
                  <tr>
                    <td>{{  sync1_current }}</td>
                    <td>{{  sync2_current }}</td>
                  </tr>
          </table>
  </body>
</html>
