<html>
  <head>
    <title>{{ title }} - Platform Management Support</title>
  </head>
  <body>
	  <h2 align="center">You Entered:</h2>
          <table bgcolor="green" width="400" align="center">
                  <tr>
                    <th>Dist1</th>
                    <th>Dist2</th>
                  </tr>
                  <tr>
                    <td align="center">{{  dist1_current }}</td>
                    <td align="center">{{  dist2_current }}</td>
                  </tr>
                  <tr>
                    <th>Sync1</th>
                    <th>Sync2</th>
                  </tr>
                  <tr>
                    <td align="center">{{  sync1_current }}</td>
                    <td align="center">{{  sync2_current }}</td>
                  </tr>
          </table>
          <h2 align="center">That seems ok, please proceed with next steps:</h2>
  </body>
</html>
